@section Styles{
    <link rel="stylesheet" href="~/css/constr_style.css" />
}

@{
    ViewData["Title"] = "BonusPoints";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_UnderConstructionPartial">