@model OrderStatusViewModel

@{
    ViewData["Title"] = "Order details";
}

<h2 class="text-center">@ViewData["Title"]</h2>
<hr />

<partial name="_OrderStatusPartial" model="@Model">

@if (Model.Status == "Collecting")
{
        <div class="text-center row align-items-center flex-column">
            <a asp-controller="Product" asp-action="All" class="btn btn-primary w-50">Continue adding products</a>
            <a asp-controller="Order" asp-action="DeliveryData" asp-route-id="@Model.OrderId" class="btn btn-success w-50">Go to delivery page</a>
        </div>
}

<div class="text-center row align-items-center flex-column">
    <a asp-controller="Order" asp-action="Mine">Back to my orders</a>
</div>

  
    
